body {
    background-image: url("https://wallpapercave.com/wp/wp5391601.jpg");
    background: linear-gradient();
}
h1 {
    font-size: 50px;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:slategray ;
}
.nav-bar a {
    margin-right: 20px;  /*space between the anchor tags*/
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cornflowerblue;
    font-size: 20px;
}
.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    /* Use flex to align items to the end */
    display: flex;
    justify-content: flex-end;
}
.para {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 300px;
}
#Book-Now {
    font-size: 30px;
    margin: 30px;
    border-radius: 30%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: orange;
}
.footer {
    background-color:white;
    text-align: center;
}
i {
    font-size: 40px;
    border: 2px solid blue;
    border-radius: 50%;
    background: transparent;
    box-shadow: rgba(22, 22, 22, 0.22);
    transform: 3s ease;

}